<div class="cont-<%= message.user.id %>">
  <div class="message-box msg-<%= message.user.id %>">
    <%= image_tag(message.user.chat_avatar, class:'avatar') %>
    <div class="message-box-inner-right" >
        <p class="name"><%= message.user.email %></p>
        <p class="time"><%= time_ago_in_words(message.created_at)%> ago</p>
        <%= message.body %>
    </div>
  </div>
</div>
