<header>
  <nav class="navbar">
    <% if current_user %>
      <span class="nav-username">
        Welcome, <%= current_user.email %>
      </span>
      <div class="right-side">
        <%= image_tag(current_user.chat_avatar, class: 'avatar') %>
        <%= link_to "Edit Account", edit_user_registration_path, class:"nav-link" %>
        <%= button_to "Logout", destroy_user_session_path, class:"nav-button", method: :delete %>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class:"nav-link" %>
      <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
    <% end %>
  </nav>
</header>
